@media screen and (max-width: 576px) {
	.filter-products-shop {
		display: none !important;
	}
}

@media screen and (min-width: 576px) {
	.filter-products-shop-sm {
		position: absolute;
		left: -99999px !important;
		top: -99999px !important;
	}
}

.accordion-button:focus {
	box-shadow: none !important;
}

.border-gray-rem {
	border: 0.0625rem solid rgba(46, 54, 80, 0.125) !important;
}

.filter-filter {
	background-color: #f5f8fe;
}
