

.auto-grid > * {
	max-width: 25rem;
	margin-left: auto;
	margin-right: auto;
}

.auto-grid > * + * {
	margin-top: 1rem;
}

@supports (display: grid) {
	.auto-grid {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size, 15rem), 1fr));
		gap: 2.5rem;
	}

	.auto-grid > * {
		max-width: unset;
		margin: unset;
	}
}

.container {
	max-width: 68rem;
	margin: 1rem auto;
	padding: 0 1rem;

	button {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}
}
