

.auto-grid > * {
	max-width: 25rem;
	margin-left: auto;
	margin-right: auto;
}

.auto-grid > * + * {
	margin-top: 1rem;
}

@supports (display: grid) {
	.auto-grid {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size, 16rem), 1fr));
		gap: 1rem;
	}

	.auto-grid > * {
		max-width: unset;
		margin: unset;
	}
}

.wrapper {
	max-width: 68rem;
	margin: 1rem auto;
	padding: 0 1rem;
}

@media screen and (max-width: 700px) {
	.product-wrapper {
		margin: 0 auto;
	}
}
