$breakPointShopProdotti: 700px;

@media screen and (max-width: $breakPointShopProdotti) {
	.filter-products-shop {
		display: none !important;
	}
}

@media screen and (min-width: $breakPointShopProdotti) {
	.filter-products-shop-sm {
		position: absolute;
		left: -99999px !important;
		top: -99999px !important;
	}
}

.accordion-button:focus {
	box-shadow: none !important;
}

