$background-details: #FFFFFF;
$background-section1: #E9E9E9;
$button-addToCart: #6F64F8;
$button-addToCart-text: #FFFFFF;
$border: #979797;
$tile: #2C2C2C;
$description: #707070;
$price: #2C2C2C;

.dettaglioprodotto {
	display: flex;
	flex-direction: column;
	.section1 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding-top: 100px;
		padding-bottom: 100px;

		img {
			object-fit: cover;
			width: 500px;
			height: 500px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;
			margin-left: 15px;
			margin-right: 15px;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
		}

		.details {
			border: none;
			border-radius: 8px;
			height: auto;
			width: 350px;
			padding: 0px 30px 30px 30px;
			margin-top: 30px;
			margin-left: 15px;
			margin-right: 15px;
			display: flex;
			flex-direction: column;
			background: $background-details;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
			
			select {
				border: none;
				border-radius: 8px;
				padding: 4px 8px 4px 8px;
				background-color: $button-addToCart;
				color: $button-addToCart-text;

				&::after {
					border-color: transparent transparent $button-addToCart-text transparent;
				}

				&:focus {
					border-radius: 8px 8px 0px 0px;
				}
			}

			.titolo {
				margin-top: 50px;
				color: $tile;
				font-weight: bold;
			}

			.prezzo {
				color: $price;
				font-weight: bold;
			}

			.descS {
				color: $description;
				flex-grow: 1;
			}

			.m {
				margin-bottom: 50px;
			}

			.btn-addtocart {
				border: none;
				height: 45px;
				font-weight: bold;
				border-radius: 8px;
				background: $button-addToCart;
				color: $button-addToCart-text;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
				
				&:hover {
					color: $button-addToCart;
					background: $button-addToCart-text;
					border: 1px solid $button-addToCart;
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
				}
			}
		}
	}

	.section2 {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		padding: 0px 30px 30px 30px;
		background: $background-section1;
	}
}