$mainColor: #007cc3;

.wrapper,
.wrapper-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	flex-direction: column;
	width: 100vw;
	max-height: 100vh;
	.img {
		width: 800px;
		height: 600px;
	}
}

@media screen and (min-width: 700px) {
	.img {
		background-image: url(../../assets/svg/notFound.svg);
	}
}

@media screen and (max-width: 700px) {
	.wrapper {
		width: 550px;
		max-height: 100vh;
	}

	.img {
		max-width: 200px;
		max-height: 550px;
		background-image: url(../../assets/svg/notFound-mobile.svg);
	}
}
