{
    "singleQuote": true,
    "printWidth": 200,
    "editor.formatOnSave": true,
    "proseWrap": "always",
    "tabWidth": 4,
    "requireConfig": false,
    "useTabs": true,
    "trailingComma": "none",
    "bracketSpacing": false,
    "jsxBracketSameLine": false,
    "semi": true
}