@import "/src/scss/variables";

.prezzi {
	label {
		margin: 4px 4px 0px 8px;
	}
	
	input[type="radio"]::after {
		width: 16px;
		height: 16px;
		border-radius: 16px;
		top: -2px;
		left: -1px;
		position: relative;
		background-color: $background-section-filter;
		content: '';
		display: inline-block;
		visibility: visible;
		border: 1px solid $border-radio;
	}
	input[type="radio"]:checked::after {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		top: -2px;
		left: -1px;
		position: relative;
		background-color: $background-radio-checked;
		content: '';
		display: inline-block;
		visibility: visible;
		border: 1px solid $background-radio-checked;
	}

	.title {
		font-weight: bold;
		color: $price-title-text;
	}
}