$text: #ffffff;
$side-menu-color: #f3f6ff;
$side-menu-text-color: #a0aac8;
$main-color: #42427d;

.container {
	overflow-x: hidden;
	p,
	h1,
	h2,
	h3,
	h4 {
		color: $main-color;
	}
}

//SIDE-MENU

.side-menu {
	background-color: $side-menu-color;
	list-style-type: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;

	a {
		text-decoration: none;
	}
}

.side-menu li {
	margin-left: 1rem;
	padding: 1em;
	width: 14.3rem;
	font-weight: 400;
	display: flex;
	justify-content: start;
	align-items: start;
	gap: 0.5rem;

	&:hover {
		color: $main-color;
		img {
			filter: invert(22%) sepia(98%) saturate(414%) hue-rotate(202deg) brightness(91%) contrast(86%);
		}
	}

	&:nth-child(1) {
		margin-top: 5rem;
	}
}

.lbl-for-side-btn {
	position: absolute;
	left: 15px;
	top: 15px;
	z-index: 2;
	height: 30px;
	width: 30px;
	cursor: pointer;
	background-image: url('../../assets/icons/menu.png');
	background-size: contain;
}

.side-menu-btn {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.side-menu-btn + label,
.main-content {
	transition: left 0.1s;
}

.side-menu-btn:checked + label {
	left: 245px;
}

.side-menu-btn:checked ~ .main-content {
	left: 230px;
}

.main-content {
	background-color: white;
	gap: 2rem;
	justify-content: center;
	align-items: start;
	min-height: 100vh;
	min-width: 100vw;
	position: relative;
	top: 0;
	bottom: 100%;
	left: 0;
	z-index: 1;
	padding: 2em;
}

//IMAGES

.logo {
	margin-top: 1.4rem;
	margin-bottom: 4.5rem;
	margin-left: 2rem;
	width: 7rem;
}
