@import "/src/scss/variables";

.nav {
	border-radius: 8px;
	height: 62px;
	margin: 30px 30px 0px 30px;
	padding: 10px 40px 10px 40px;
	display: flex;
	flex-direction: row;
	background: $background-nav;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

	img {
		object-fit: cover;
		width: auto;
		height: 65px;
		display: block;
	}

	ul {
		list-style-type: none;
		margin: 0px 0px 0px 30px;
		padding: 0;
		overflow: hidden;

		li {
			float: left;
			display: block;
			color: $nav-text;
			text-align: center;
			padding: 16px 15px 16px 15px;
			text-decoration: none;
			&:hover {
				border-bottom: 1px solid $nav-hover-border;
				color: $nav-hover-border;
			}
		}
	}

	.cart {
		position: absolute;
		top: 55px;
		right: 75px;
		color: $nav-hover-border;
	}
}