@import "../../../../variables";

.categoria {
    input[type="checkbox"] {
        margin: 6px 0px 6px 0px;
    }
    input[type="checkbox"]::after {
        width: 17px;
        height: 17px;
        border-radius: 3px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: $background-section-filter;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1px solid $border-radio;
    }
    input[type="checkbox"]:checked::after {
        width: 17px;
        height: 17px;
        border-radius: 3px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: $background-radio-checked;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1px solid $background-radio-checked;
    }

    label {
        margin: 4px 4px 0px 8px;
    }
}