.container {
	background-color: white;
	p,
	a,
	h1,
	h2,
	h3 {
		color: black !important;
	}

	img {
		width: 800px;
		height: 600px;
		object-fit: contain;
	}

	ol {
		background: #ffffff66;
		li {
			margin-left: 2px;
			margin-right: 2px;
			border: 1px solid #262b40;
			background-color: #262b40;
			border-radius: 0px;
			height: 5px;
			width: 20px;
		}
	}
}
