@import "./colors";


/*----- Generali -----*/

//bottone add to chart
$button-addToCart: $primary;
$button-addToCart-text: $background-primary;

//text
$tile: $text-normal;
$description: $text-normal;
$price: $text-normal;


/*----- Componenti -----*/

//Nav
$background-nav: $background-primary;
$nav-text: $text-normal;
$nav-hover-border: $primary;

//Dettaglio Prodotto
$background-details: $background-primary;
$background-section2: $background-secondary;
$border: $border-light;
$tile: $text-normal;
$description: $text-light;
$price: $text-normal;

//Prodotto
$background-prodotto: $background-primary;

//Filtri
$background-section-filter: $background-primary;
$button-clearfilters: $primary;
$button-clearfilters-text: $background-primary;
$price-title-text: $text-normal;
$border-radio: $border-light;
$background-radio-checked: $primary;

//Barra di ricerca
$background-barradiricerca: $background-primary;
$border-search: $text-normal;
$text: $text-normal;