.wrapper {
	gap: 5rem;
}

.dropzone.dropzone {
	max-width: 20rem;
}

.btn-wrapper {
	gap: 2rem;
	button {
		max-width: 10rem;
	}
}

.delete-btn {
	position: relative;
	top: 10px;
}


@media screen and (max-width: 600px) {
	.id {
		margin-top: 0rem;
	}

	.wrapper {
		button {
			width: 8rem;
		}
	}

	.btn-wrapper {
		gap: 0.5rem;
	}
}

@media screen and (min-width: 768px) {
	.btn-wrapper {
		max-width: 26rem !important;
		margin-left: 0px !important;
	}
}

@media screen and (max-width: 1200px) {
	.dropzone.dropzone,
	.dropzone-files.dropzone-files {
		max-width: 100%;
		width: 100%;
	}
}
