$mainColor: #007cc3;

.product-card .card-thumbnail:hover {
	transform: scale(0.9);
}
.product-card .card-thumbnail {
	transition: 1s;
}

.product-card {
	img {
		transform: translateY(1.1%);
	}

	button {
		margin-top: auto;
	}
}
