$btnColor: #3e68ff;

// Reset default link styles

a.btn {
	text-decoration: none;
}

// Reset default button styles
button.btn {
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;

	@media screen and (-ms-high-contrast: active) {
		border: 2px solid currentcolor;
	}
}

a.btn,
button.btn {
	// Display
	display: inline-flex;
	align-items: center;
	justify-content: center;
	align-self: start;

	// Visual
	background-color: $btnColor;
	color: #fff;
	border-radius: 8px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

	// Size
	padding: 0.25em 0.75em;
	min-width: 10ch;
	min-height: 30px;

	// Text
	text-align: center;
	line-height: 1.1;
	transition: 220ms all ease-in-out;

	&:hover {
		background-color: scale-color($btnColor, $lightness: -20%);
	}

	&:focus {
		outline-style: solid;
		outline-color: transparent;
		box-shadow: 0 0 0 4px scale-color($btnColor, $lightness: -40%);
	}

	&:hover,
	&:active {
		background-color: scale-color($btnColor, $lightness: -20%);
	}
	&--small {
		font-size: 1.15rem;
	}
	&--block {
		width: 100%;
	}
	&--no-br {
		border-radius: 0;
	}
	&--down-br {
		border-radius: 0;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
	}
}
