
.cart {
	width: 2rem;
}

.logo {
	width: 3rem;
}

.navbar {
	a {
		color: rgb(223, 213, 213);
	}

	a:hover {
		color: white;
	}
}

@media screen and (max-width: 990px) {
	.logo {
		position: absolute;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.toggler {
		margin-left: -2rem;
	}
}

